# -- bind mound configuration --
VIDEO_LOCAL_DIR="/mnt/ips_binlts/BOUM_upload/"   # host upload directory that gets mounted
VIDEO_DEST_DIR="/data/upload"                    # mount destination for upload directory

POINTCLOUD_OUTPUT_BASE_LOCAL_DIR="/mnt/ips_binlts/BOUM/Data/"              # base directory where PLY models land
POINTCLOUD_OUTPUT_BASE_DEST_DIR="/data/pointclouds"                        # mount destionation for PLY models base dir
POINTCLOUD_RELATIVE_PATH="Reconstruction_Outputs/point_cloud_cleaned.ply"  # for constructing pointcloud dest path: ${POINTCLOUD_OUTPUT_BASE_DEST_DIR}${VIDEO_UUID}${POINTCLOUD_RELATIVE_PATH}

SSH_KEY_LOCAL_FILE="./id_ed25519_boum"    # path on host the SLURM service user's SSH key
SSH_KEY_DEST_FILE="/keys/id_ed25519"      # mount destination for the SLURM service user's SSH key (must be readable by the container's app user)
KNOWN_HOSTS_LOCAL_FILE="./known_hosts"    # path to known hosts file on the host for SSH access to the HPC cluster
KNOWN_HOSTS_DEST_FILE="/keys/known_hosts" # mount destination for the known hosts file

DATABASE_LOCAL_DIR="./db_data" # host path to directory containing the SQLite DB file
DATABASE_DEST_DIR="/db_data"   # mount destination for SQLite DB directory
DATABASE_FILE="app.db"         # name of the SQLite DB file inside the mounted folder

# -- runtime secrets --
JWT_SECRET_KEY="..."       # secret for JWT
ADMIN_PASSWORD="..."       # initial password for the admin user

# -- gpustack configuration --
GPUSTACK_API_TOKEN="..."                                                  # API token for gpustack, needed for metadata extraction from audio
SPEECH_UPSTREAM_URL="https://gpustack.unibe.ch/v1/audio/transcriptions"   # gpustack audio transcription endpoint
COMPLETIONS_UPSTREAM_URL="https://gpustack.unibe.ch/v1/chat/completions"  # gpustack LLM endpoint
SPEECH_MODEL="faster-whisper-large-v3"                                    # model to use for transcription
COMPLETIONS_MODEL="gpt-oss-120b"                                          # model to use for completion

# -- SLURM host configuration --
SLURM_HOST="submit02.unibe.ch"                                                  # hostname of the host on which SLURM jobs are submitted and monitored (via SSH)
SLURM_USER="ips-svcdigik2"                                                      # service user for submitting SLURM jobs (via SSH)
SLURM_BATCH_FILE="/storage/research/ips_binlts/BOUM/boum_quick_clean_slurm.sh"  # path to the batch script on SLURM job submission host

# -- video worker configuration --
NUM_VIDEO_PROCESSING_WORKERS=4  # number of concurrent workers monitoring uploads and submitting SLURM jobs

# -- frontend ---
PUBLIC_API_BASE_URL=http://127.0.0.1:8000/api
