plant3d.ips.unibe.ch {
	tls /etc/caddy/certs/plant3d.ips.unibe.ch.pem /etc/caddy/certs/plant3d.ips.unibe.ch.key


	request_body {
		max_size 500MB
	}

	@api path /api/*
	handle @api {
		reverse_proxy boum-backend:8000
	}

	handle {
		reverse_proxy boum-frontend:3000
	}
}

