VIDEO_INPUT_DIR="/tmp/upload"
VIDEO_DIR_PATH="/tmp/videos"

DATABASE_LOCAL_DIR="./db_data"
DATABASE_DEST_DIR="/db_data"
DATABASE_DEST_URL="/db_data/app.db"

JWT_SECRET_KEY="very_secret_secret_key"
ADMIN_PASSWORD="adminpass"

GPUSTACK_API_TOKEN="gpustack_..."
SPEECH_UPSTREAM_URL="https://gpustack.unibe.ch/v1/audio/transcriptions"
COMPLETIONS_UPSTREAM_URL="https://gpustack.unibe.ch/v1/chat/completions"

SSH_KEY_LOCAL_FILE="./id_ed25519_boum"
SSH_KEY_PATH="/root/.ssh/id_ed25519"
KNOWN_HOSTS_LOCAL_FILE="./known_hosts"
KNOWN_HOSTS_FILE="/known_hosts"

SLURM_HOST="submit.unibe.ch"
SLURM_USER="dh20c439"
SLURM_GRES="gpu:rtx4090"
SLURM_MEMORY="8"
SLURM_CPUS_PER_TASK="4"
SLURM_BATCH_FILE="~/nop.sh"

NUM_VIDEO_PROCESSING_WORKERS=4